{% set name = "safe.fiery.me" %}
{% set root = "https://safe.fiery.me" %}
{% set motto = "A small safe worth protecting." %}
{% set description = "A pomf-like file uploading service that doesn't suck." %}
{% set keywords = "upload,lolisafe,file,images,hosting,bobby,fiery" %}

{% set home_subtitle = "A <strong>modern</strong> self-hosted file upload service" %}

{#
  This will be appended to all CSS and JS files, and should be changed on every updates to make sure clients load the very latest version of them.
#}
{% set v = "hEmd7tjh6Q" %}

{#
  These will be the links in the homepage and the No-JS uploader.
  You may remove icons by removing "icon" property. It will then automatically use "attrs.title" as the display text.
#}
{% set home_links = [
  {
    attrs: {
      title: 'Home',
      href: 'https://fiery.me'
    },
    icon: 'icon-home icon-2x'
  },
  {
    attrs: {
      title: 'Blog',
      href: 'https://blog.fiery.me'
    },
    icon: 'icon-archive icon-2x'
  },
  {
    attrs: {
      id: 'ShareX',
      title: 'ShareX',
      href: 'https://safe.fiery.me/safe.fiery.me.sxcu'
    },
    icon: 'icon-sharex icon-2x'
  },
  {
    attrs: {
      title: 'Chrome extension',
      href: 'https://chrome.google.com/webstore/detail/loli-safe-uploader/enkkmplljfjppcdaancckgilmgoiofnj',
      target: '_blank'
    },
    icon: 'icon-chrome icon-2x'
  },
  {
    attrs: {
      title: 'Firefox extension',
      href: 'https://github.com/BobbyWibowo/loli-safe-extension/releases',
      target: '_blank'
    },
    icon: 'icon-firefox icon-2x'
  },
  {
    attrs: {
      title: 'Bash uploader',
      href: 'https://github.com/BobbyWibowo/uguush/tree/lolisafe-kde',
      target: '_blank'
    },
    icon: 'icon-terminal icon-2x'
  },
  {
    attrs: {
      title: 'FAQ',
      href: 'faq'
    },
    icon: 'icon-help-circled icon-2x'
  },
  {
    attrs: {
      title: 'Dashboard',
      href: 'auth'
    },
    icon: 'icon-gauge icon-2x'
  },
  {
    attrs: {
      title: 'View on GitHub',
      href: 'https://github.com/BobbyWibowo/lolisafe',
      target: '_blank'
    },
    icon: 'icon-github-circled icon-2x'
  }
] %}
