{% set metaTitle = "FAQ" %}
{% set metaUrl = '/faq' %}

{% extends "_layout.njk" %}

{% set noJsMaxSizeInt = config.cloudflare.noJsMaxSize | int %}
{% set chunkSizeInt = config.uploads.chunkSize | int %}
{% set extensionsFilterMode = config.extensionsFilterMode %}
{% set extensionsFilter = config.extensionsFilter %}

{% block content %}
{{ super() }}
<section class="section">
  <div class="container has-text-left">
    <h2 class='subtitle'>What is safe.fiery.me?</h2>
    <article class="message">
      <div class="message-body">
        This is a fork of <a href="https://github.com/WeebDev/lolisafe" target="_blank" rel="noopener">lolisafe</a>.<br>
        GitHub repository of the fork is located <a href="https://github.com/BobbyWibowo/lolisafe" target="_blank" rel="noopener">here</a>.
      </div>
    </article>

    <h2 class='subtitle'>Will you keep my files forever?</h2>
    <article class="message">
      <div class="message-body">
        Unless I receive a copyright complain, or some other bullshit, I will.<br>
        Logs of taken down files can be found <a href="https://safe.fiery.me/takedowns" target="_blank" rel="noopener">here</a>.<br>
        <br>
        However, we also have temporary uploads feature which will automatically delete your files after a certain period of time.<br>
        You can configure this feature through our homepage's Config tab.
      </div>
    </article>

    <h2 class='subtitle'>How can I keep track of my uploads?</h2>
    <article class="message">
      <div class="message-body">
        Simply create a user on the site and every upload will be associated with your account, granting you access to your uploaded files through our dashboard.<br>
        You will <strong>need</strong> to do this if you ever want to delete your own uploads in the future, unless you choose to use temporary uploads.
      </div>
    </article>

    <h2 class='subtitle'>What are albums?</h2>
    <article class="message">
      <div class="message-body">
        Albums are a simple way of sorting uploads together.<br>
        You can then share public links to these albums, to allow everyone else to view a pretty listing of the uploads in them.<br>
        <br>
        As long as you are logged in, you can create albums through our homepage or dashboard,<br>
        then afterwards you can use them with our <a href="https://addons.mozilla.org/en-US/firefox/addon/lolisafe/" target="_blank" rel="noopener">Firefox extension</a> or <a href="https://chrome.google.com/webstore/detail/loli-safe-uploader/enkkmplljfjppcdaancckgilmgoiofnj" target="_blank" rel="noopener">Chrome extension</a>,<br>
        which will enable you to <strong>right click -> send file to safe</strong>, or to a desired album if you have any.<br>
        With the Chrome extension, you will have to manually set the domain in the extension's settings to <strong>https://safe.fiery.me</strong>.<br>
        <br>
        If you use a Linux desktop, we also have a bash uploader that supports uploading to albums.<br>
        You can learn more about it <a href="https://github.com/BobbyWibowo/uguush" target="_blank" rel="noopener">here</a>.
      </div>
    </article>

    <h2 class='subtitle'>Why should I use this?</h2>
    <article class="message">
      <div class="message-body">
        I don't know.
      </div>
    </article>

    <h2 class='subtitle'>I saw something too illegal for my tastes here, what should I do?</h2>
    <article class="message">
      <div class="message-body">
        Send a strongly worded email to <a href="mailto:bobby@fiery.me">bobby@fiery.me</a> and I will try to get back to you within <strong>48 hours</strong>.
      </div>
    </article>

    <h2 class='subtitle'>I found a bug! -or- I want to request a feature!</h2>
    <article class="message">
      <div class="message-body">
        Feel free to create a GitHub issue <a href="https://github.com/BobbyWibowo/lolisafe/issues/new/choose" target="_blank" rel="noopener">here</a>.</br>
        Or if you don't want to use GitHub, you can also contact me through my email above.
      </div>
    </article>

    <h2 class='subtitle'>How do I delete my own account <strong>and</strong> all the uploads associated with it?</h2>
    <article class="message">
      <div class="message-body">
        For the time being, you will need to contact me through my email above.<br>
        A feature to delete your own account yourself is currently still being worked on.<br>
        Otherwise, if you don't mind a record of your username being left here, it should be easy to bulk delete all your uploads from the dashboard anyway.
      </div>
    </article>

    <h2 class='subtitle'>Where is the server located at?</h2>
    <article class="message">
      <div class="message-body">
        Paris, France.{#<br>
        We are using <a href="https://www.cloudflare.com/cdn/" target="_blank" rel="noopener">Cloudflare</a> though, so you can expect your uploads to be delivered quickly all over the world after they have been cached.#}
      </div>
    </article>

    {#<h2 class='subtitle'>Since my uploads are cached, what about after I delete them from the dashboard?</h2>
    <article class="message">
      <div class="message-body">
        We will send API requests to Cloudflare to purge their cache immediately after you delete your uploads from the dashboard.<br>
        Cache of their thumbnails will also be purged, if applicable.
      </div>
    </article>#}

    <h2 class='subtitle'>Do you have a No-JS uploader form?</h2>
    <article class="message">
      <div class="message-body">
        Yes, check out <a href="nojs" target="_blank" rel="noopener">this page</a>.
      </div>
    </article>

    {% if noJsMaxSizeInt and chunkSizeInt -%}
    <h2 class='subtitle'>Why is the maximum file size in the No-JS uploader form smaller?</h2>
    <article class="message">
      <div class="message-body">
        This site is using Cloudflare, which limits the maximum upload size.<br>
        Since the homepage uploader chunks your uploads through JS magic, it is possible to increase the maximum file size there.
      </div>
    </article>
    {%- endif %}

    {% if chunkSizeInt -%}
    <h2 class='subtitle'>So your API supports chunked uploads?</h2>
    <article class="message">
      <div class="message-body">
        Yes, the homepage uploader was coded to chunk uploads into {{ chunkSizeInt }} MB pieces by default (configurable through the homepage's Config tab).<br>
        If you want to chunk your API uploads, feel free to inspect the <a href="https://github.com/BobbyWibowo/lolisafe" target="_blank" rel="noopener">source code</a> to see how it works.<br>
        <br>
        A rough description of how it works is to simply upload the chunks with their UUID information attached, and then call the "finish chunks" API with the said UUID, to rebuild them into a single proper file.
      </div>
    </article>
    {%- endif %}

    <h2 class='subtitle'>What are the allowed extensions here?</h2>
    <article class="message">
      <div class="message-body">
        {% if extensionsFilter.length -%}
          {%- if extensionsFilterMode === 'whitelist' -%}
          We only support the following extensions:
          {%- else -%}
          We support any file extensions, except the following:
          {%- endif -%}<br>
          {% set comma = joiner(' ') -%}
          {%- for extension in extensionsFilter -%}
          {{ comma() }}<code>{{ extension }}</code>
          {%- endfor -%}
        {%- else -%}
        We support any file extensions.
        {%- endif %}
      </div>
    </article>
  </div>
</section>
{% endblock %}
