{% extends "_layout.njk" %}

{% block stylesheets %}
{{ super() }}
<style>
  .message {
    background-color: #31363b;
  }

  .message-body {
    color: #eff0f1;
    border: 0;
    -webkit-box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
    box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
  }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<section class="section">
  <div class="container has-text-left">
    <h2 class='subtitle'>什么是 safe.fv.tn?</h2>
    <article class="message">
      <div class="message-body">
        safe.fv.tn 是 <a href="https://github.com/WeebDev/lolisafe" target="_blank" rel="noopener">lolisafe</a> 的一个分支。 您可以查看 <a href="https://github.com/BobbyWibowo/lolisafe" target="_blank" rel="noopener">这个</a> 分支 .
      </div>
    </article>

    <h2 class='subtitle'>你会永远保存我的文件吗？</h2>
    <article class="message">
      <div class="message-body">
        除非我收到版权投诉或其他因素，否则我会。
      </div>
    </article>

    <h2 class='subtitle'>如何跟踪上传内容？</h2>
    <article class="message">
      <div class="message-body">
        只需在网站上创建一个用户，每次上传都会与您的帐户相关联，授予您通过我们的信息中心访问您上传的文件的权限。<br>
      </div>
    </article>

    <h2 class='subtitle'>什么是相册？</h2>
    <article class="message">
      <div class="message-body">
        相册是一种将上传排序在一起的简单方法。<br>
         现在，您可以通过仪表板（以及登录时的主页）创建相册，<br>
         之后您可以将它们与我们的 <a href="https://chrome.google.com/webstore/detail/loli-safe-uploader/enkkmplljfjppcdaancckgilmgoiofnj" target="_blank" rel="noopener">Chrome扩展程序</a> 或 <a href="https://github.com/BobbyWibowo/loli-safe-extension/releases" target="_blank" rel="noopener">Firefox扩展</a>，<br>
         这将使您能够 <strong>右键单击 - >发送到SAFE</strong> 或所需的相册（如果有的话）。<br>
         您必须将扩展程序设置中的域设置为 <strong>http://safe.fv.tn</ strong>。
      </div>
    </article>

    <h2 class='subtitle'>我为什么要用这个？</h2>
    <article class="message">
      <div class="message-body">
        我不知道。
      </div>
    </article>

    <h2 class='subtitle'>我在这里看到了一些非常违法的东西，我该怎么办？</h2>
    <article class="message">
      <div class="message-body">
        将强烈措辞的电子邮件发送至<a href="mailto:bobby@fiery.me"> bobby@fiery.me </a>，我会尽量在24小时内回复您。
      </div>
    </article>

    <h2 class='subtitle'>服务器位于哪里？</h2>
    <article class="message">
      <div class="message-body">
        新加坡。<br>
         期望在其他任何地方都能获得高首次字节（FTB），尤其是地球另一端的任何地方（通常可以超过1000毫秒）。<br>
         我相信这主要是因为我们正在使用Cloudflare，因为您的请求必须首先通过它们。<br>
         但是，由于Cloudflare也会缓存您的上传内容，因此上传后的FTB应该会更好（并且下载速度通常也会更快）。
      </div>
    </article>

    <h2 class='subtitle'>由于我的上传文件正在缓存，我从仪表板中删除后会怎么样？</h2>
    <article class="message">
      <div class="message-body">
        不用担心。<br>
         从仪表板中删除上传后，我们会立即向Cloudflare发送API请求以清除其缓存。<br>
         缩略图缓存也将被清除，因此无需担心它们。
      </div>
    </article>

    <h2 class='subtitle'>你有No-JS 上传表格吗？</h2>
    <article class="message">
      <div class="message-body">
        是的，请查看<a href="nojs" target="_blank" rel="noopener">此页面</a>。<br>
         很遗憾，如果您有任何内容，您将无法将上传内容与您的帐户相关联。
      </div>
    </article>

    {% if chunkSize -%}
    <h2 class='subtitle'>您的API是否支持分块上传？</h2>
    <article class="message">
      <div class="message-body">
        是的，默认情况下，首页上传器会将您的上传内容分为{{ chunkSize }} 个
         如果您想利用API进行分块上传，请随时检查HTTP请求。
      </div>
    </article>
    {%- endif %}

    <h2 class='subtitle'>这里允许的扩展是什么？</h2>
    <article class="message">
      <div class="message-body">
        {% if extensionsFilter.length and not whitelist -%}
        我们支持以下任何文件扩展名： {{ extensionsFilter | join(', ') }}。
        {%- elif extensionsFilter.length and whitelist -%}
        我们仅支持以下扩展： {{ extensionsFilter | join(', ') }}。
        {%- else -%}
        我们支持任何文件扩展名。
        {%- endif %}
      </div>
    </article>

    <h2 class='subtitle'>如何确定文件URL？</h2>
    <article class="message">
      <div class="message-body">
		随机{{fileLength.default}}-将自动为您的上传生成字母字符串。
        {% if fileLength.userChangeable %}<br>
         如果您认为太{{ "short" if tooShort else "long" }}，您可以创建一个帐户，这将允许您设置首选长度。<br>
         目前，您可以选择{{ fileLength.min }} 至 {{ fileLength.max }}字母。
        {%- endif %}
      </div>
    </article>

    {% if noJsMaxSize and chunkSize -%}
    <h2 class='subtitle'>为什么No-JS上传器中的最大文件大小变小？</h2>
    <article class="message">
      <div class="message-body">
		此网站正在使用Cloudflare，它限制了最大上传大小。<br>
         主页上传器会自动将您的上传内容整合到{{ chunkSize }}块中，因此可以增加那里的最大文件大小，但不能在No-JS上传器形式中增加。
      </div>
    </article>
    {%- endif %}
  </div>
</section>
{% endblock %}
