input {
  background: rgba(0, 0, 0, 0);
}

input,
a {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.select-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

#login .input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  padding-right: calc(0.75em + 1px);
  padding-left: calc(0.75em + 1px);
}

#login .control .button {
  border-radius: 0;
}
