.hero {
  background-color: #232629;
  color: #eff0f1;
}

.title {
  color: #eff0f1;
}

.subtitle {
  color: #bdc3c7;
}

.subtitle strong {
  color: #bdc3c7;
}

a {
  color: #2980b9;
}

a:hover {
  color: #3daee9;
}

hr {
  background-color: #898b8d;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: #2980b9;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #4d4d4d;
}

.table td,
.table th {
  vertical-align: middle;
}

.help {
  color: #7f8c8d;
}

.input::-moz-placeholder {
  color: #7f8c8d;
}

.input::-webkit-input-placeholder {
  color: #7f8c8d;
}

.input:-moz-placeholder {
  color: #7f8c8d;
}

.input:-ms-input-placeholder {
  color: #7f8c8d;
}
