html {
  background-color: #232629;
  overflow-y: auto;
}

body {
  color: #eff0f1;
  -webkit-animation: fadeInOpacity .5s;
  animation: fadeInOpacity .5s;
}

.title {
  color: #eff0f1;
}

.subtitle {
  color: #bdc3c7;
}

.subtitle strong {
  color: #bdc3c7;
}

a {
  color: #3794d2;
}

a:hover {
  color: #60a8dc;
}

hr {
  background-color: #898b8d;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: #3794d2;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #4d4d4d;
}

.table td,
.table th {
  vertical-align: middle;
}

.help {
  color: #7f8c8d;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #7f8c8d;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #7f8c8d;
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: #7f8c8d;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #7f8c8d;
}

.button.is-breeze {
  background-color: #3794d2;
  border-color: transparent;
  color: #fff;
}

.button.is-breeze.is-hovered,
.button.is-breeze:hover {
  background-color: #60a8dc;
  border-color: transparent;
  color: #fff;
}

.button.is-breeze.is-active,
.button.is-breeze:active {
  background-color: #60a8dc;
  border-color: transparent;
  color: #fff;
}

.button.is-breeze.is-focus,
.button.is-breeze:focus {
  border-color: transparent;
  color: #fff;
}

.render {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  color: #bdc3c7;
  cursor: pointer;
}

.render.button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  right: 1%;
  opacity: .25;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.render.button:hover {
  opacity: 1;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pagination-link.is-current {
  background-color: #3794d2;
  border-color: #3794d2;
}

.pagination-link:hover,
.pagination-next:hover,
.pagination-previous:hover {
  border-color: #3794d2;
}
