.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  margin: 9px;
  background-color: #31363b;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
  box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2)
}

.image-container .title {
  font-weight: normal;
  word-break: break-all
}

.image-container .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.image-container .image img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto
}

.image-container .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem
}

.image-container .controls .button {
  border-radius: 0
}

.image-container .controls .button:not(:active):not(:hover) {
  color: #fff;
  background-color: rgba(49, 54, 59, 0.75)
}

.image-container .details {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
  right: 0.75rem;
  background-color: rgba(49, 54, 59, 0.75);
  color: #eff0f1;
  padding: 0.25rem;
  font-size: 0.75rem
}

.image-container .details p {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden
}

.image-container .details p span {
  font-weight: bold
}
