<section id="loader" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <span class="loader is-inline-block"></span>
    </div>
  </div>
</section>
