html {
  background-color: #000;
  overflow-y: auto
}

body {
  color: #eff0f1;
  animation: fadeInOpacity 0.5s
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

a {
  color: #209cee
}

a:hover {
  color: #67c3ff
}

hr {
  background-color: #585858
}

code,
.message-body code {
  background-color: #222528;
  border-radius: 5px
}

.title {
  color: #eff0f1
}

.subtitle {
  color: #bdc3c7
}

.subtitle strong {
  color: #bdc3c7
}

.input,
.select select,
.textarea {
  color: #eff0f1;
  border-color: #585858;
  background-color: #000
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #bdc3c7
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #bdc3c7
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: #bdc3c7
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #bdc3c7
}

.input:hover,
.select select:hover,
.textarea:hover {
  border-color: #209cee
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: #209cee
}

.label {
  color: #eff0f1;
  font-weight: normal
}

.help {
  color: #bdc3c7
}

.progress {
  background-color: #030303
}

.button.is-info.is-hovered [class^="icon-"]::before,
.button.is-info.is-hovered [class*=" icon-"]::before,
.button.is-info:hover [class^="icon-"]::before,
.button.is-info:hover [class*=" icon-"]::before {
  fill: #fff
}

.checkbox:hover,
.radio:hover {
  color: #7f8c8d
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #eff0f1
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #eff0f1
}

.message {
  background-color: #030303
}

.message-body {
  color: #eff0f1;
  border: 0;
  box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2)
}

/* https://github.com/philipwalton/flexbugs#flexbug-3 */
.hero.is-fullheight > .hero-body {
  min-height: 100vh;
  height: 100%
}

/* https://github.com/philipwalton/flexbugs#flexbug-2 */
.hero.is-fullheight > .hero-body > .container {
  width: 100%
}
