html {
  background-color: #232629;
  overflow-y: auto
}

body {
  color: #eff0f1;
  animation: fadeInOpacity 0.5s
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

a {
  color: #3794d2
}

a:hover {
  color: #60a8dc
}

hr {
  background-color: #898b8d
}

code,
.message-body code {
  background-color: #222528;
  border-radius: 5px
}

.title {
  color: #eff0f1
}

.subtitle {
  color: #bdc3c7
}

.subtitle strong {
  color: #bdc3c7
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #7f8c8d
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #7f8c8d
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: #7f8c8d
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #7f8c8d
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: #3794d2
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #4d4d4d
}

.table td,
.table th {
  vertical-align: middle
}

.help {
  color: #7f8c8d
}

.button.is-info.is-hovered [class^="icon-"]::before,
.button.is-info.is-hovered [class*=" icon-"]::before,
.button.is-info:hover [class^="icon-"]::before,
.button.is-info:hover [class*=" icon-"]::before {
  fill: #fff
}

.checkbox:hover,
.radio:hover {
  color: #7f8c8d
}

.message {
  background-color: #31363b
}

.message-body {
  color: #eff0f1;
  border: 0;
  box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2)
}

.menu-list a.is-loading::after {
  animation: spinAround 0.5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  right: calc(0% + (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important
}
